@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

#app {
    font-family: 'Dosis', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
}


h1 {
    font-family: Dosis;
    font-size: 64px;
    font-weight: 300;
    line-height: 70px;
    color: #93CDDD;
}